*.swp
/src/
/bin/
/conf
/*.ipr
*.iml
!**/templates/**/*.iml
*.iws
!**/templates/**/*.iws
idea
/lib
/doc
/cobertura.ser
/cruise/coverage/report
downloads/
/test/groovy/grails/config
/test/grails-app
stacktrace.log
dist/
/idea-target
target
!**/src/**/build/*
/grails.iws
.gradle
.DS_Store
/.classpath
/.project
.settings/
build/
out/
/eclipse-build

.idea/
/grails-test-suite-uber/configured/
